
<h1>Clinical Data for Patient Fatih</h1>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-fw fa-table"></i> Clinical Data Record
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover .table-condensed" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Measurement Type</th>
                        <th>Reading</th>
                        <th>DateTime</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Measurement Type</th>
                        <th>Reading</th>
                        <th>DateTime</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>Body Temperature ( &deg;C )</td>
                        <td>39.5</td>
                        <td>10/10/2017 10:35 am</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Blood Pressure</td>
                        <td>12</td>
                        <td>11/10/2017 10:35 am</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Blood Pressure</td>
                        <td>12</td>
                        <td>11/29/2017 12:45 pm</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Height</td>
                        <td>74</td>
                        <td>11/29/2017 12:45 pm</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Weight</td>
                        <td>170</td>
                        <td>11/29/2017 12:45 pm</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Blood Pressure</td>
                        <td>12</td>
                        <td>12/01/2017 12:45 pm</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Heart Rate</td>
                        <td>62</td>
                        <td>12/01/2017 12:45 pm</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Systolic Blood Pressure</td>
                        <td>54</td>
                        <td>12/01/2017 12:45 pm</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Diastolic Blood Pressure</td>
                        <td>23</td>
                        <td>12/01/2017 12:45 pm</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Pregnancy</td>
                        <td>positive</td>
                        <td>12/01/2017 12:45 pm</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Respiratory Rate</td>
                        <td>64</td>
                        <td>12/03/2017 12:45 pm</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>Pulse Oximetry</td>
                        <td>221</td>
                        <td>12/03/2017 12:45 pm</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>Inhaled Oxygen Concentration</td>
                        <td>202</td>
                        <td>12/03/2017 12:45 pm</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>HIV Test</td>
                        <td>negative</td>
                        <td>12/04/2017 12:45 pm</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>White Blood Cell, Lymphocytes</td>
                        <td>35%</td>
                        <td>12/04/2017 12:45 pm</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Red Blood Cell</td>
                        <td>4.8</td>
                        <td>12/04/2017 12:45 pm</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Hemoglobin</td>
                        <td>15</td>
                        <td>12/04/2017 12:45 pm</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>Hematocrit</td>
                        <td>47%</td>
                        <td>12/04/2017 12:45 pm</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Cholesterol HDL</td>
                        <td>121</td>
                        <td>12/04/2017 12:45 pm</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr> 
                    <tr>
                        <td>Cholesterol HDL</td>
                        <td>201</td>
                        <td>12/04/2017 12:45 pm</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Triglycerides</td>
                        <td>24%</td>
                        <td>12/04/2017 12:45 pm</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Vitamin D</td>
                        <td>245</td>
                        <td>12/10/2017 12:45 pm</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Thyroid Total T4</td>
                        <td>7.5</td>
                        <td>12/10/2017 12:45 pm</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Thyroid Free T4</td>
                        <td>1.2</td>
                        <td>12/10/2017 12:45 pm</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Blood Pressure</td>
                        <td>13</td>
                        <td>12/10/2017 12:45 pm</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Heart Rate</td>
                        <td>69</td>
                        <td>12/10/2017 12:45 pm</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Body Temperature ( &deg;C )</td>
                        <td>40.5</td>
                        <td>12/10/2017 10:35 am</td>
                        <td align="center" class="row actions">
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="View" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Edit" href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="pull-left col-4" data-placement="top" data-toggle="tooltip" title="Delete" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

<!-- Page level plugin JavaScript-->
<script src="vendor/datatables/jquery.dataTables.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for this page-->
<script src="js/sb-admin-datatables.min.js"></script>
