<div class="row">
    <h1 class="col-md-10 col-sm-12">Clinical Data for {{ patient.FirstName }} {{ patient.LastName }}</h1>
    <a class="btn btn-xs col-md-2 col-sm-12" title="Create New Record" ng-href="#!/patients/{{ patientId }}/createRecords">
        <i class="fa fa-fw fa-plus"></i>Create New Record
    </a>   
</div>

<div class="card mb-3" ng-controller="ClinicalDataController">
    <div class="card-header">
        <i class="fa fa-fw fa-table"></i> Clinical Data Records
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Measurement Type</th>
                        <th>Reading</th>
                        <th>DateTime</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Measurement Type</th>
                        <th>Reading</th>
                        <th>DateTime</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="aRecord in records">
                        <td>{{ aRecord.DataType }}</td>
                        <td>{{ aRecord.Reading }}</td>
                        <td>{{ aRecord.DateTime }}</td>
                        <td class="actions">
                            <div class="row">
                                <a class="btn btn-xs col-4" title="View" ng-href="#!/patients/{{ patientId }}/records/{{ aRecord._id }}">
                                    <i class="fa fa-eye" ></i>
                                </a>                                    
                                <a class="btn btn-xs col-4" title="Edit"  ng-href="#!/patients/{{ patientId }}/editRecords/{{ aRecord._id }}">
                                    <i class="fa fa-pencil" ></i>
                                </a>
                                <a class="btn  btn-xs col-4" data-title="Delete" data-toggle="modal" data-target="#delete"  title="Delete" ng-click="openModal(aRecord._id)" >
                                    <i class="fa fa-trash" ></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title custom_align" id="Heading">Delete this Record</h4>
                    </div>
                    <div class="modal-body">    
                        <div class="alert alert-danger"><i class="fa fa-fw fa-trash" ></i></span> 
                            Are you sure you want to delete this Record?
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="deleteRecord(selectedRecordId)" > 
                            Delete
                        </button>
                        <button type="button" class="btn" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
            </div>
        </div>
    </div>
</div>



<!-- Page level plugin JavaScript-->
<script src="vendor/datatables/jquery.dataTables.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for this page-->
<script src="js/sb-admin-datatables.min.js"></script>
